<div class="row enteteCQP mb-1">
    <img class="col-8" style="border-radius: 3em;border-bottom-left-radius: 0em;" src="{{ asset('images/entete.png') }}" alt="LOGO CQP">
    <section class='col-4'>
        <h1>Projet Tp1</h1>
        <h3 class="mt-5">Par Samuel Therrien-Côté</h3>
    </section>
</div>