<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}tp1!{% endblock %}</title>
    {{ include('commun/bootstrapJQuery.html.twig')}}
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</head>

<body>
    <div class="container">
        {{include('commun/enteteCQP.html.twig')}}
        {{include('commun/navigation.html.twig')}}

        {% block body %}

        {% endblock %}
        {{include('commun/piedCQP.html.twig')}}
    </div>
</body>

</html>